
nav{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1em;
    border: 1px;
    border-color: blue;;
}
ul{
    color: green;
}
li{
    color: blue;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
    padding: 14px 16px;

}
li a{
    color:red;

}
h1{
    color: blueviolet;
}
h2{
    color:brown;
}
p{
    font-size: large;
}
#imagenSomos{
    border: 3px;
    border-color: crimson;
    background-color:bisque;
    
}
article{
    background-color: aquamarine;
}
#animacionPropia{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: cuadradoMovimiento;
    animation-delay: 1s;
    animation-duration: 4s;
}
@keyframes cuadradoMovimiento {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

